*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
#actions{
    /* float: left; */
    width: 20vw;
    height: 100vh;
    border:1px solid black;
    padding: .5rem;
}

.center{
    text-align: center;
}
#chatDiv{
    width: 60vw;
    height: 100vh;
    border: 1px solid red;
    overflow-x:hidden;
    line-height: 2;
    padding: .5rem;
    /* margin-bottom: 3rem; */

}
/*this display create group form will be executed later*/
/* #create_group_div{
    display: none;
    clear: both;
    width: 50vw;
    height:50vh;
    display:block ;
    margin: 25vh auto;
    border: 1px solid red;   
} */
.form{
    border: 1px solid black;
    width: 50%;
    margin: auto;
    padding: 1rem;
    line-height: 2;

}
footer{
    position: fixed;
    bottom:0;
    background-color: blue;
    width: 100vw;
    padding: .3rem;
}
footer input{
    width: 50vw;
}

#group_chat{
    border: 1px solid black;
    height: 100vh;
    width: 20vw;
    padding: 1rem;
}

#group_member_div,#each_group_member_div,#searched_member_div,#send_invitation_div{
    display: none;
    /* display: grid; */
    place-content:center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    
}
#group_member_list_dest,#send_invitation_form{
    width: 50vw;
    height: 50vh;
    overflow-y: scroll;
    background-color: aqua;
    padding: 2rem;
}

#group_member_action_dest,#searched_member_dest{
    width: 40vw;
    height: 40vw;
    background-color: rgb(226, 236, 236);
    /* display:none; */
    padding: 2rem;
}

#main{
    display: flex;
}

#serch_member{
border: 1px double red;
display: none;
place-items: center;
}

#searched_member_dest{
    background-color: rgb(174, 104, 118);
}

/* #send_invitation_div{
    border: 1px solid red;
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    place-items: center;
    display: none;
    position: absolute;
} */


ul{
    list-style: none;
    line-height: 1.5rem;
}
